# Data Source
CICD_APP_USE_MOCK=true
CICD_APP_CATALOG=lho_analytics
CICD_APP_SCHEMA=cicd

# Databricks Connection (when USE_MOCK=false)
DATABRICKS_SERVER_HOSTNAME=
DATABRICKS_HTTP_PATH=
DATABRICKS_TOKEN=

# App Settings
APP_PORT=8050
APP_DEBUG=true
