# Data Source
CICD_APP_USE_MOCK=true
CICD_APP_CATALOG=lho_ucm
CICD_APP_SCHEMA=cicd

# Databricks Connection (when USE_MOCK=false)
DATABRICKS_SERVER_HOSTNAME=
DATABRICKS_HTTP_PATH=
DATABRICKS_TOKEN=

# Authentication: dev | databricks | oauth
AUTH_MODE=dev

# App Settings
APP_PORT=8050
APP_DEBUG=true
