dash>=2.17.1
dash-bootstrap-components>=1.6.0
plotly>=5.22.0
pandas>=2.2.2
gunicorn>=22.0.0
databricks-sql-connector>=3.1.0
databricks-sdk>=0.28.0
python-dotenv>=1.0.1
requests>=2.31.0
pyyaml>=6.0.1
python-pptx>=0.6.23
fastapi>=0.115.0
uvicorn>=0.30.0
pydantic>=2.9.0
numpy>=1.26.0
